/* general */
:root{
    /* color palette */
    --my-bg-dark-blue: #2c3e50;
    --my-bg-blue: #3a546d;
    --my-green: #1abc9c;
    --my-wt: white;
    --my-blk: black;
    --my-grey: grey;
    --my-overlay: rgba(255, 0, 0, 0.45);
}
*{
    scroll-margin-top: 5rem;
}
.my-bg-dark{
    background-color: var(--my-bg-dark-blue);
}
.my-dark{
    color: var(--my-bg-dark-blue);
}
.my-blue{
    background-color: var(--my-bg-blue);
}
.my-bg-green{
    background-color: var(--my-green);
}
.my-green{
    color: var(--my-green);
}
.txt-wt{
    color: var(--my-wt);
}
/* specific selectors */

/* topbar */

header a.text-uppercase{
    font-weight: bold;
}
header a.navbar-brand{
    font-size: 1.5rem;
}
.hamburger{
    filter: invert(1);
}
header button.navbar-toggler{
    border-color: var(--my-grey);
}
header ul a.nav-link:hover{
    color: var(--my-green);
}
 /* hero */
#hero{
    padding-top: 5rem;
}
 div img.avatar{
    width: 40%;
    max-width: 100%;
 }
.star{
    width: 10%;
 }
 .star i{
    font-size: 1.3rem;
 }
 .line{
    height: 3px;
    border-radius: 1.5px;
    width: 10%;
 }
/* portfolio */
#portfolio .cards img{
    width: 100%;
    max-width: 100%;
}
.overlay{
    background-color: var(--my-overlay);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0.75rem;
    width: calc(100% - 1.5rem);
    font-size: ;
    opacity: 0;
    transition: opacity 500ms;
}
.overlay i{
    font-size: 3.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cards div[class*='col-']:hover .overlay{
    opacity: 1;
}
/* about */
#about .btn:hover, #contact .btn:hover{
    background-color: var(--my-wt);
    color: var(--my-blk);
}
/* footer */
.copyright{
    font-size: .8rem;
}
footer span:hover{
    cursor: pointer;
    text-decoration: underline;
}
.social-logo{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 300ms;
}
.social-logo:hover{
    cursor: pointer;
    transform: scale(1.3);
}
#contact div.separe{
    border-bottom: 1px solid var(--my-grey);
}
#contact label{
    color: var(--my-bg-dark-blue);
    font-weight: 600;
}
#contact .btn{
    color: var(--my-wt);
}
#contact .btn:hover{
    border: 1px solid var(--my-blk);
}