/* general */
:root{
    /* color palette */
    --my-bg-dark-blue: #2c3e50;
    --my-bg-blue: #3a546d;
    --my-green: #1abc9c;
    --my-wt: white;
    --my-blk: black;
    --my-grey: grey;
    --my-overlay: rgba(255, 0, 0, 0.45);
}
.my-bg-dark{
    background-color: var(--my-bg-dark-blue);
}
.my-dark{
    color: var(--my-bg-dark-blue);
}
.my-blue{
    background-color: var(--my-bg-blue);
}
.my-bg-green{
    background-color: var(--my-green);
}
.my-green{
    color: var(--my-green);
}
/* specific selectors */

/* topbar */

header a.text-uppercase{
    font-weight: bold;
}
header a.navbar-brand{
    font-size: 1.5rem;
}
.hamburger{
    filter: invert(1);
}
header button.navbar-toggler{
    border-color: var(--my-grey);
}
 /* hero */
#hero{
    padding-top: 5rem;
}
 div img.avatar{
    width: 40%;
    max-width: 100%;
 }
.star{
    width: 10%;
 }
 .star i{
    font-size: 1.3rem;
 }
 .line{
    height: 3px;
    border-radius: 1.5px;
    width: 10%;
 }
/* portfolio */
#portfolio .cards img{
    width: 100%;
    max-width: 100%;
}
.overlay{
    display: none;
    background-color: var(--my-overlay);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0.75rem;
    width: calc(100% - 1.5rem);
    font-size: ;

}
.overlay i{
    font-size: 3.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cards div[class*='col-']:hover .overlay{
    display: block;
}
/* footer */
.copyright{
    font-size: .8rem;
}
footer span:hover{
    cursor: pointer;
    text-decoration: underline;
}